.flowing-menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flowing-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.flowing-menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -1px #fff;
}

.flowing-menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  color: #fff;
  font-size: 4vh;
}

.flowing-menu__item-link:hover {
  color: #060010;
}

.flowing-menu__item-link:focus:not(:focus-visible) {
  color: #fff;
}

.flowing-marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #fff;
  transform: translate3d(0, 101%, 0);
  transition: transform 0.6s ease-expo;
}

.flowing-marquee__inner-wrap {
  height: 100%;
  width: 400%;
  display: flex;
  transform: translateX(0);
}

.flowing-marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 400%;
  will-change: transform;
  animation: flowing-marquee 55s linear infinite;
}

.flowing-marquee span {
  color: #060010;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4vh;
  line-height: 1.2;
  padding: 1vh 1vw 0;
}

.flowing-marquee__img {
  width: 200px;
  height: 7vh;
  margin: 2em 2vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}

.flowing-menu__item-link:hover+.flowing-marquee {
  transform: translate3d(0, 0%, 0);
}

@keyframes flowing-marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-75%);
  }
}
